@charset 'utf-8';

@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

$primary-color: #3890b8;
$secondary-color: #ce5d1b;
$yellow-color: #fff7ad;
$yellow-dark-color: #e7bd00;

$background-dark-color: #b6b6b6;
$background-light-color: #dadada;

html {
  font-family: "Roboto", sans-serif;
}
button {
  border: solid $secondary-color 1px;
  border-radius: 2px;
}

a {
  text-decoration: none;
  color: black;
}

.task-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  max-width: 25rem;
  min-height: 5rem;
  border: solid $yellow-dark-color 2px;
  margin-bottom: 2rem;

  background-color: $yellow-color;
  cursor: pointer;

  border-radius: 2px;
}

.task-card-header {
  display: flex;
  justify-content: space-between;

  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.task-details {
  display: flex;
  justify-content: space-between;
}

.heading-center {
  margin: auto;
  text-align: center;
}

.taskboard {
  margin-top: 6rem;
}

.taskboard-li {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.taskboard-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  @media (min-width: 900px) {
    justify-content: flex-start;
  }
}

.taskboard-buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}

.task-details-text {
  margin-left: 2rem;
}

.task-description-text {
  margin-top: 0;
}

.navigation-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 2rem;
  background-color: $background-dark-color;
  position: fixed;
  top: 0;
  border-bottom: solid $primary-color 2px;
  z-index: 1000;
}

.nav-control {
  padding-right: 1rem;
}

.sidebar-div {
  height: 100%;
  top: 0;
  width: 15rem;
  background-color: $background-dark-color;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  padding: 1rem;
}

.sidebar-li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.sidebar-ul {
  padding-left: 0;
}

.sidebar-shown {
  display: block;
}

.sidebar-hidden {
  display: none;
}

.sidebaruser-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: large;
}

.sidebaruser-label {
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
}

.custom-button {
  margin: 0 5px;
}

.task-buttons {
  display: flex;
  align-items: center;
}

.control-buttons {
  display: flex;
  flex-wrap: wrap;
}

.updown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addtask-div {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 20rem;
  border: solid $yellow-dark-color 2px;
  margin: 3rem auto 2rem;
  background-color: $background-light-color;
  border-radius: 2px;
}

.addtask-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.addtask-heading {
  margin-top: 10px;
}

.edittask-div {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 20rem;
  border: solid $yellow-dark-color 2px;
  margin: 3rem auto 2rem;
  background-color: $background-light-color;
  border-radius: 2px;
}

.close-button {
  position: absolute;
  right: 15px;
  top: 15px;
}

.box-shadow {
  box-shadow: 5px 5px 10px grey;
}

.color-box {
  width: 30px;
  height: 20px;
}
