@charset 'utf-8';

.task-card {
  width: 80%;
  border: solid black 1px;
  margin: auto;
  margin-bottom: 2rem;
  background-color: lightgrey;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

.heading-center {
  margin: auto;
  text-align: center;
}

.taskboard-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.taskboard-ul {
  padding: 0;
}

.task-details-text {
  margin-left: 2rem;
}

.navigation-div {
  display: flex;
  padding: 1rem;
  width: 100%;
  background-color: lightblue;
}

.sidebar-div {
  height: 100%;
  width: 200px;
  background-color: lightgreen;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  padding: 1rem;
}

.sidebar-li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.sidebar-ul {
  padding-left: 0;
}

.sidebar-shown {
  display: block;
}

.sidebar-hidden {
  display: none;
}

.sidebaruser-div {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: large;
}

.sidebaruser-label {
  padding-left: 0.5rem;
  padding-bottom: 0.3rem;
}
